/* .App {
  font-size: 60px;
} */

.timeDate-container {
  text-align: center;
}

.time {
  font-size: 70px;
  font-weight: bold;
  padding: 10px;
  background-color: rgb(11, 194, 226);
  border-radius: 10px;
}
.date {
  font-size: 40px;
  font-weight: bold;
  padding: 10px;
  background-color: rgb(11, 194, 226);
  border-radius: 10px;
}
